<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>yummy</title>
    <link rel="stylesheet" href="/static/style.css" >
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Hedvig+Letters+Serif:opsz@12..24&family=IBM+Plex+Serif:wght@500&family=Ubuntu:wght@500&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Chakra+Petch:wght@300&family=Hedvig+Letters+Serif:opsz@12..24&family=IBM+Plex+Serif:wght@500&family=Ubuntu:wght@500&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Chakra+Petch:wght@300&family=Hedvig+Letters+Serif:opsz@12..24&family=IBM+Plex+Serif:wght@500&family=Ubuntu:wght@500;700&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Chakra+Petch:wght@300&family=Hedvig+Letters+Serif:opsz@12..24&family=IBM+Plex+Serif:wght@500&family=Ubuntu:wght@500;700&family=Whisper&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Chakra+Petch:wght@300&family=Hedvig+Letters+Serif:opsz@12..24&family=IBM+Plex+Serif:wght@500&family=Roboto+Condensed:wght@600&family=Ubuntu:wght@500;700&family=Whisper&display=swap");
    </style>
  </head>
  <body>
    <nav class="navbar v-resp">
      <div class="logo">Yummy.</div>
      <ul class="list h-resp">
        <li class="elements"><a href="/views/home.html">Home</a></li>
        <li class="elements"><a href="#about">About</a></li>
        <li class="elements"><a href="#menu">Menu</a></li>
        <li class="elements"><a href="#chefs">Chefs</a></li>
        <li class="elements"><a href="#gallery">Gallery</a></li>
        <li class="elements drop_down-ele">
          drop down ↓
          <ul class="drop_down">
            <li>drop down1</li>
            <li>drop down2</li>
            <li>drop down3</li>
            <li>drop down4</li>
          </ul>
        </li>
        <li class="elements"><a href="/views/contact.html">Contact</a></li>
      </ul>
      <button class="btn">Book A Table</button>
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </nav>
    <section class="home" id="home">
      <div class="adjust">
        <div class="home1">
          <p class="home-para">Enjoy your healthy and delicious food</p>
        </div>
        <div class="home2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
          reprehenderit alias illo vel at beatae
        </div>
        <button class="btn1">Book A Table</button>
      </div>
      <img
        src="https://bootstrapmade.com/demo/templates/Yummy/assets/img/hero-img.png"
        class="home-img"
      />
    </section>
    <section class="about" id="about">
      <div class="large_cards">
        <img src="/static/cards_pic1.png" class="cards_img" />
        <h1 class="about_heading">Why Choose Yummy?</h1>
        <p class="cards_para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero autem
          quasi porro, adipisci, ratione facere recusandae excepturi repellendus
          quam omnis illo obcaecati enim, inventore accusamus?
        </p>
      </div>
      <div class="cards">
        <img src="/static/cards_pic2.png" class="cards_img" />
        <h1 class="about_heading">Quality</h1>
        <p class="cards_para">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae,
          reiciendis totam? Similique ipsa, ut consequuntur quos quibusdam amet
          magnam maiores iste totam! Repudiandae, a? Dignissimos.
        </p>
      </div>
      <div class="cards">
        <img src="/static/cards_pic3.png" class="cards_img" />
        <h1 class="about_heading">Taste</h1>
        <p class="cards_para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel libero
          totam mollitia cumque eius. Neque autem assumenda veniam tempore
          necessitatibus ut impedit vitae culpa quaerat?
        </p>
      </div>
      <div class="cards">
        <img src="/static/cards_pic4.png" class="cards_img" />
        <h1 class="about_heading">Delivery</h1>
        <p class="cards_para">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio amet
          sapiente sit, non ducimus nihil quod. Repellat alias fuga labore
          obcaecati, repudiandae dolorum mollitia earum.
        </p>
      </div>
    </section>
    <section class="menu" id="menu">
      <h1 class="menu_heading">CHECK OUT OUR MENU</h1>
      <div class="menu_list">
        <div class="card1">
          <img
            src="https://bootstrapmade.com/demo/templates/Yummy/assets/img/hero-img.png"
            class="menu_item"
          />
          <h2>Paneer</h2>
          Lorem ipsum dolor sit.
          <div class="price">$24.99</div>
        </div>
        <div class="card1">
          <img src="/static/menu-item-2.png" class="menu_item" />
          <h2>spring rolls</h2>
          Lorem ipsum dolor sit.
          <div class="price">$24.99</div>
        </div>
        <div class="card1">
          <img src="/static/menu-item-3.png" class="menu_item" />
          <h2>noodles</h2>
          Lorem ipsum dolor sit.
          <div class="price">$24.99</div>
        </div>
        <div class="card1">
          <img src="/static/menu-item-4.png" class="menu_item" />
          <h2>salads</h2>
          Lorem ipsum dolor sit.
          <div class="price">$24.99</div>
        </div>
        <div class="card1">
          <img src="/static/menu-item-5.png" class="menu_item" />
          <h2>chocolate deseart</h2>
          Lorem ipsum dolor sit.
          <div class="price">$24.99</div>
        </div>
        <div class="card1">
          <img src="/static/menu-item-6.png" class="menu_item" />
          <h2>rice bowl</h2>
          Lorem ipsum dolor sit.
          <div class="price">$24.99</div>
        </div>
      </div>
    </section>
    <section class="prof_chef" id="chefs">
      <h1 class="chef_heading">OUR PROFESSIONAL CHEFS</h1>
      <div class="chef_list">
        <div class="chefs">
          <img src="/static/chefs-1.jpg" class="chef_pic" />
          <h1 class="chef_names">WALTER WHITE</h1>
          <p class="chef_para">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo,
            nobis?Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Iusto, corporis!
          </p>
        </div>
        <div class="chefs">
          <img src="/static/chefs-2.jpg" class="chef_pic" />
          <h1 class="chef_names">SARAH JOHNSON</h1>
          <p class="chef_para">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo,
            nobis?Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Iusto, corporis!
          </p>
        </div>
        <div class="chefs">
          <img src="/static/chefs-3.jpg" class="chef_pic" />
          <h1 class="chef_names">WILLIAM ANDERSON</h1>
          <p class="chef_para">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo,
            nobis?Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Iusto, corporis!
          </p>
        </div>
      </div>
    </section>
    <section class="gallery" id="gallery">
      <h1 class="gallery_heading">CHECK OUR GALLERY</h1>
      <div class="slider-frame">
        <div class="slide-images">
          <div class="img-container">
            <img src="/static/gallery-1.jpg" />
          </div>
          <div class="img-container">
            <img src="/static/gallery-7.jpg" />
          </div>
          <div class="img-container">
            <img src="/static/gallery-8.jpg" />
          </div>
        </div>
      </div>
      <h1 class="tag">so beautiful, so elegent, just looking like a wow</h1>
    </section>
    <footer class="foot">
      <div class="footer_elements">
        <img src="/static/location.png" alt="" class="foot_img" />
        <h1 class="footer_heading">Address</h1>
        <p class="footer_para">A108 Adam Street New York, NY 535022 - US</p>
      </div>
      <div class="footer_elements">
        <img src="/static/telephone.png" alt="" class="foot_img" />
        <h1 class="footer_heading">Reservation</h1>
        <p class="footer_para">
          Phone: +1 5589 55488 55 Email: info@example.com
        </p>
      </div>
      <div class="footer_elements">
        <img src="/static/clock.png" alt="" class="foot_img" />
        <h1 class="footer_heading">Opening Hours</h1>
        <p class="footer_para">Mon-Sat: 11AM - 23PM Sunday: Closed</p>
      </div>
    </footer>
    <hr />
    <div class="copy_right">© Copyright Yummy. All Rights Reserved</div>
  </body>
  <script src="../mov.js"></script>
</html>
